# string and string formatting

test the str related functions introduced in the book

In [1]:
basic_str = "Liu Yi is my husband"

In [2]:
basic_str.capitalize()

'Liu yi is my husband'

In [3]:
basic_str.encode()

b'Liu Yi is my husband'

In [6]:
basic_str.format()

'Liu Yi is my husband'

In [7]:
basic_str.isalpha()

False

In [8]:
basic_str.islower()

False

In [9]:
basic_str.istitle()

False

In [11]:
basic_str.lower()

'liu yi is my husband'

In [12]:
basic_str.casefold()

'liu yi is my husband'

In [18]:
basic_str.endswith("d")

True

In [26]:
basic_str.find("i")

1

In [27]:
# turn a string in to list
basic_str.split()

['Liu', 'Yi', 'is', 'my', 'husband']

In [28]:
basic_str2 = "DSCI_551_STATUS_PROB"
basic_str2.split("_")

['DSCI', '551', 'STATUS', 'PROB']

In [30]:
basic_str[:3] #get the first 3 character

'Liu'

In [31]:
len(basic_str)

20

In [32]:
# format a string
f'I love him so much, {basic_str}'

'I love him so much, Liu Yi is my husband'

# Using Exponents

In [33]:
import math

math.pow(2 ,3) #2 powered by 3

8.0

In [34]:
2**3

8

In [35]:
# Rounding number
basic_n = 1.983462
round(basic_n, 2)

1.98

# Function

In [37]:
#function can be defined using def
def practice(times):
    print(f"I'd like to practice {times} times a day")

In [38]:
practice(2)

I'd like to practice 2 times a day

# closure

In [85]:
# functions that contains other functions
# functional carrying

def attack_counter():
    """Counts number of attacks on part of body"""
    lower_body_counter = 0
    upper_body_counter = 0
    def attack_filter(attack):
        nonlocal lower_body_counter
        nonlocal upper_body_counter
        attacks = {"kimura":"upper_body",
                  "straight_ankel_lock":"lower_body",
                  "arm_striangle":"upper_body",
                  "keylock":"upper_body",
                  "knee_bar":"lower_body"}
        if attack in attacks:
            if attacks[attack] == "upper_body":
                upper_body_counter +=1
            if attacks[attack]=="lower_body":
                lower_body_counter +=1
        print("Upper body attacks",upper_body_counter)
        print("Lower body attacks",lower_body_counter)
    
    return attack_filter # position is critical

In [86]:
fight = attack_counter()

In [87]:
fight("kimura")

Upper body attacks 1
Lower body attacks 0

# Generator

In [117]:
# function as a generator

import random
def lazy_return_random_attacks():
    """Yield attacks each time"""
    attacks = {"kimura":"upper_body",
               "straight_ankel_lock":"lower_body",
               "arm_striangle":"upper_body",
               "keylock":"upper_body",
               "knee_bar":"lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

attacks = lazy_return_random_attacks()

In [121]:
next(attacks)

['keylock']

In [107]:
for _ in range (10):
    print(next(attacks))

['keylock']
['arm_striangle']
['arm_striangle']
['kimura']
['straight_ankel_lock']
['straight_ankel_lock']
['straight_ankel_lock']
['keylock']
['kimura']
['arm_striangle']

# Decorator

Another useful technique in Python is to use the decorator syntax to wrap one function with another function.

In [114]:
import time
import random

def randomized_speed_attack_decorator(function):
    """Randomize the speed of attacks"""
    
    def wrapper_func(*args, **kwargs):
        sleep_time = random.randint(0,3)
        print("Attacking after", sleep_time, "seconds")
        time.sleep(sleep_time)
        return function(*args, **kwargs)
    return wrapper_func

In [115]:
@randomized_speed_attack_decorator
def lazy_return_random_attacks():
    """Yield attacks each time"""
    attacks = {"kimura":"upper_body",
               "straight_ankel_lock":"lower_body",
               "arm_striangle":"upper_body",
               "keylock":"upper_body",
               "knee_bar":"lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [116]:
for _ in range(10):
    print(next(lazy_return_random_attacks()))

Attacking after 2 seconds
['straight_ankel_lock']
Attacking after 0 seconds
['kimura']
Attacking after 2 seconds
['knee_bar']
Attacking after 2 seconds
['arm_striangle']
Attacking after 0 seconds
['keylock']
Attacking after 1 seconds
['arm_striangle']
Attacking after 3 seconds
['knee_bar']
Attacking after 1 seconds
['keylock']
Attacking after 3 seconds
['arm_striangle']
Attacking after 3 seconds
['knee_bar']

# Using pandas

In [122]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [124]:
iris.head(6)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [126]:
iris['rounded_sepal_length'] = iris[['sepal_length']].apply(pd.Series.round)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length
0,5.1,3.5,1.4,0.2,setosa,5.0
1,4.9,3.0,1.4,0.2,setosa,5.0
2,4.7,3.2,1.3,0.2,setosa,5.0
3,4.6,3.1,1.5,0.2,setosa,5.0
4,5.0,3.6,1.4,0.2,setosa,5.0

# Control structure in python